<!DOCTYPE html>
<html>
<head>
	<title>auto answerrule edit</title>
	<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
	<style type="text/css">
		table{
			border:1px solid #ccc;
		}
		table tr td{
			border:1px solid #999;
			text-align: center
		}
		.mod{
			margin:100px auto;
			height:50%;
			width:50%;
			float:left;
			border:1px solid red;
			z-index:10;
		}
		input{
			margin-top:20px;
			width:300px;
		}
		textarea{
			width:300px;
			height: 200px;
			margin-top:10px;
		}
	</style>
</head>
<body>
<div>
	{{rules.default}}<br /><br />
	<button @click="add()">添加规则</button>
	<table>
		<caption>AutoAnswer Rules</caption>
		<tr>
			<td>ruleName</td>
			<td>keywords</td>
			<td>replyText</td>
			<td>operations</td>
		</tr>
		<tr v-for="(item,index) in rules.rules">
			<td>{{item.ruleName}}</td>
			<td>{{item.keywords | cc}}</td>
			<td>{{item.reply.text}}</td>
			<td style="width:100px"><button @click="edit(index)">编辑</button>
				<button @click="del(index)">删除</button>
			</td>
		</tr>
	</table>

	<div v-show="show" :class="{mod:true}">
		<label for="_ruelName">ruleName</label><input type="text" name="" id="_ruelName" v-model="ruleName" /><br />
		<label for="_keywords">keywords</label><input type="text" name="" id="_keywords" v-model="keywords" /><br />
		<label for="_replyText">replyText</label><textarea v-model="replyText" id=_replyText></textarea>
		<button @click="save()">保存</button>
	</div>
</div>





<script>
	var vm=new Vue({
		el:"div",
		data:{
			rules:"",
			temp:"",
			show:false,
			ruleName:"",
			keywords:"",
			replyText:"",
			index:"",

		},
		methods:{
			init:function(){
				 // alert(this.$http);
				this.$http.get("test.php?a=1&b=2").then((data)=>{
					this.msg=data;
					this.rules=JSON.parse(data.body);
				},(error)=>{
					alert(error);
				});
			},
			add:function(){
				this.show=false;
				this.show=true;
				this.index=0;
				this.show=true;
			},
			del:function(index){
				// alert(index);
				this.rules.rules.splice(index,1);
			},
			edit:function(index){
				this.show=true;
				this.index=index;
				this.ruleName=this.rules.rules[index].ruleName;
				this.keywords=this.rules.rules[index].keywords;
				// alert(this.keywords.toString().replace("[\[\]]",""));

				this.keywords=this.keywords.toString().replace("[\[\]]","")
				this.replyText=this.rules.rules[index].reply.text;
			},
			save:function(index){
				if(this.index>0){
					// alert(this.rules.rules);
					this.rules.rules[this.index].ruleName=this.ruleName;
					this.rules.rules[this.index].keywords=this.keywords;
					this.rules.rules[this.index].reply.text=this.replyText;
				}else{
					this.temp={}
					this.temp.ruleName=this.ruleName;
					this.temp.keywords=this.keywords;
					this.temp.reply={};
					this.temp.reply.text=this.replyText;
					this.rules.rules.push(this.temp);
					this.temp="";
				}

				
				this.ruleName="";
				this.keywords="";
				this.replyText="";
				this.show=false;
			}
		},
		filters:{
			cc:function(value){
				value = value.toString();
				return value.slice(0,value.length);
			}
		}
	});
</script>
<script type="text/javascript">
		window.onload=function(){
			vm.init()
		}
	</script>
	
</body>
</html>